<div class="familia">
           
    <img   src="assets/images/material/QUIENESSOMOS.jpg" alt="Education Images">
                
                 
            
       
        
    
 
</div>
<div class="familia">
           
    <img   src="assets/images/material/MISION.jpg" alt="Education Images">
                
                 
            
       
        
    
 
</div>
<div class="familia">
           
    <img   src="assets/images/material/VISION.jpg" alt="Education Images">
                
                 
            
       
    