<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default rbt-breadcrumb-style-3" *ngIf="COURSE_LANDING">
    <div class="breadcrumb-inner">
        <img src="assets/images/bg/bg-image-10.jpg" alt="Education Images">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="content text-start">
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index.html">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                       
                    </ul>
                    <h2 class="title">{{ COURSE_LANDING.title }}</h2>
                    <p class="description">{{ COURSE_LANDING.subtitle }}</p>

                    <div class="d-flex align-items-center mb--20 flex-wrap rbt-course-details-feature">

                        <div class="feature-sin best-seller-badge">
                            <span class="rbt-badge-2">
                                <span class="image"><img src="assets/images/icons/card-icon-1.png"
                                        alt="Best Seller Icon"></span> Bestseller
                            </span>
                        </div>
 
 

                    </div>

                    <div class="rbt-author-meta mb--20">
                        <div class="rbt-avater">
                            <a href="#">
                                <img [src]="COURSE_LANDING.user.imagen" alt="Sophia Jaymes">
                            </a>
                        </div>
                        <div class="rbt-author-info">
                            By <a href="profile.html">{{ COURSE_LANDING.user.name }}</a>  <a href="#"></a>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-course-details-area ptb--60" *ngIf="COURSE_LANDING">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-8">
                <div class="course-details-content">
                    <div class="rbt-course-feature-box rbt-shadow-box thuumbnail">
                        <img class="w-100" [src]="COURSE_LANDING.imagen" alt="Card image">
                    </div>

                    <div class="rbt-inner-onepage-navigation sticky-top mt--30">
                        <nav class="mainmenu-nav onepagenav">
                            <ul class="mainmenu">
                                <li class="current">
                                    <a href="#overview">Overview</a>
                                </li>
                                 
                                <li>
                                    <a href="#details">Details</a>
                                </li>
                                <li>
                                    <a href="#intructor">Academia</a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>

                    <!-- Start Course Feature Box  -->
                    <div class="rbt-course-feature-box overview-wrapper rbt-shadow-box mt--30  " id="overview">
                        <div class="rbt-course-feature-inner  " [innerHtml]="COURSE_LANDING.description">
                            
                        </div>
                        
                    </div>
                    <!-- End Course Feature Box  -->

                   
                    

                    <!-- Start Course Feature Box  -->
                    <div class="rbt-course-feature-box rbt-shadow-box details-wrapper mt--30" id="details">
                        <div class="row g-5">
                            <!-- Start Feture Box  -->
                            <div class="col-lg-6">
                                <div class="section-title">
                                    <h4 class="rbt-title-style-3 mb--20">Requirements</h4>
                                </div>
                                <ul class="rbt-list-style-1">
                                    
                                    <ng-container *ngFor="let requirement of  requirements">
                                        <li><i class="feather-check"></i>{{ requirement }}</li>
                                    </ng-container>
                                </ul>
                            </div>
                            <!-- End Feture Box  -->

                            <!-- Start Feture Box  -->
                            <div class="col-lg-6">
                                <div class="section-title">
                                    <h4 class="rbt-title-style-3 mb--20">¿A quien esta dirigido?</h4>
                                </div>
                                <ul class="rbt-list-style-1">
                                    <ng-container *ngFor="let who_is_it_for of who_is_it_for">
                                        <li><i class="feather-check"></i>{{ who_is_it_for }}</li>
                                    </ng-container>
                                    
                                </ul>
                            </div>
                            <!-- End Feture Box  -->
                        </div>
                    </div>
                    <!-- End Course Feature Box  -->

                    <!-- Start Intructor Area  -->
                    <div class="rbt-instructor rbt-shadow-box intructor-wrapper mt--30" id="intructor">
                        <div class="about-author border-0 pb--0 pt--0">
                            <div class="section-title mb--30">
                                <h4 class="rbt-title-style-3">Instructor</h4>
                            </div>
                            <div class="media align-items-center">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img [src]="COURSE_LANDING.user.imagen" alt="Author Images">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="author-info">
                                        <h5 class="title">
                                            <a class="hover-flip-item-wrapper" href="author.html">{{ COURSE_LANDING.user.name }}</a>
                                        </h5>
                                        <span class="b3 subtitle">{{ COURSE_LANDING.user.profession }}</span>
                                        <ul class="rbt-meta mb--20 mt--10">
                                            <li><i class="fa fa-star color-warning"></i>{{ COURSE_LANDING.user.num_review }} Reviews <span class="rbt-badge-5 ml--5">{{ COURSE_LANDING.user.avg_rating }} Rating</span></li>
                                            <li><i class="feather-users"></i>{{ COURSE_LANDING.user.n_students }} Students</li>
                                            <li><a href="#"><i class="feather-video"></i>{{ COURSE_LANDING.user.count_course }} Courses</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <p class="description">{{ COURSE_LANDING.user.description }}</p>

                                        <ul class="social-icon social-default icon-naked justify-content-start">
                                            <li><a href="https://www.facebook.com/">
                                                    <i class="feather-facebook"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.twitter.com">
                                                    <i class="feather-twitter"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.instagram.com/">
                                                    <i class="feather-instagram"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.linkdin.com/">
                                                    <i class="feather-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Intructor Area  -->

                    <!-- Start Edu Review List  -->
                     
                    <!-- End Edu Review List  -->

                    
                </div>
                <div class="related-course mt--60">
                    <div class="row g-5 align-items-end mb--40">
                        <div class="col-lg-8 col-md-8 col-12">
                            <div class="section-title">
                                <span class="subtitle bg-pink-opacity">Top Course</span>
                                <h4 class="title">Membresias<strong class="color-primary">{{ COURSE_LANDING.user.name }}</strong></h4>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row g-5">
                        <ng-container *ngFor="let COURSE of COURSE_INSTRUCTOR">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="rbt-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a [href]="'/landing-curso/'+COURSE.id">
                                            <img [src]="COURSE.imagen" style="height: 244px;" alt="Card image">
                                            <div class="rbt-badge-3 bg-white" *ngIf="COURSE.discount_g">
                                                <span *ngIf="COURSE.discount_g.type_discount == 1">-{{ COURSE.discount_g.discount }}%</span>
                                                <span *ngIf="COURSE.discount_g.type_discount == 2">-{{ COURSE.discount_g.discount }}USD</span>
                                                <span>Off</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
              
                                       
              
                                        <h4 class="rbt-card-title"><a [href]="'/landing-curso/'+COURSE.id">{{ COURSE.title }}</a>
                                        </h4>
                                        <ul class="rbt-meta">
                                            <li><i class="feather-book"></i>{{ COURSE.num_clases }} Lessons</li>
                                            <li><i class="feather-users"></i>{{ COURSE.n_students }} Students</li>
                                        </ul>
                                        <p class="rbt-card-text">{{ COURSE.subtitle }}</p>
                                        <div class="rbt-author-meta mb--20">
                                            <div class="rbt-avater">
                                                <a href="#">
                                                    <img [src]="COURSE.user.imagen ? COURSE.user.imagen : 'assets/images/client/avater-01.png'" alt="Sophia Jaymes">
                                                </a>
                                            </div>
                                            <div class="rbt-author-info">
                                                By <a href="profile.html">{{ COURSE.user.name + ' ' + COURSE.user.surname }}</a> In <a href="#"> </a>
                                            </div>
                                        </div>
              
                                        <div class="rbt-card-bottom">
                                            <div class="rbt-price">
                                                <span class="current-price">${{ getTotalPriceCourse(COURSE) }}</span>
                                                <span class="off-price" *ngIf="COURSE.discount_g">${{ COURSE.price_usd }}</span>
                                            </div>
                                            <a class="rbt-btn-link" [href]="'/landing-curso/'+COURSE.id">Learn
                                                More<i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="course-sidebar sticky-top rbt-shadow-box course-sidebar-top rbt-gradient-border">
                    <div class="inner">

                        <!-- Start Viedo Wrapper  -->
                        <a class="video-popup-with-text video-popup-wrapper text-center popup-video sidebar-video-hidden mb--15" 
                        [href]="COURSE_LANDING.vimeo_id"
                        >
                            <div class="video-content">
                                <img class="w-100 rbt-radius" [src]="COURSE_LANDING.imagen" alt="Video Images">
                                <div class="position-to-top">
                                    <span class="rbt-btn rounded-player-2 with-animation">
                                        <span class="play-icon"></span>
                                    </span>
                                </div>
                                <span class="play-view-text d-block color-white"><i class="feather-eye"></i> Preview this course</span>
                            </div>
                        </a>
                        <!-- End Viedo Wrapper  -->

                        <div class="content-item-content">
                            <div class="rbt-price-wrapper d-flex flex-wrap align-items-center justify-content-between">
                                <div class="rbt-price">
                                    <span class="current-price">${{ getTotalPriceCourse(COURSE_LANDING) }}</span>
                                    <span class="off-price" *ngIf="COURSE_LANDING.discount_g">${{ COURSE_LANDING.price_usd }}</span>
                                </div>
                                <div class="discount-time" *ngIf="COURSE_LANDING.discount_g">
                                    <span class="rbt-badge color-danger bg-color-danger-opacity" *ngIf="COURSE_LANDING.discount_g.type_discount == 1"><i
                                            class="feather-clock"></i> {{ COURSE_LANDING.discount_g.discount }}%</span>
                                    <span class="rbt-badge color-danger bg-color-danger-opacity" *ngIf="COURSE_LANDING.discount_g.type_discount == 2"><i
                                                class="feather-clock"></i> {{ COURSE_LANDING.discount_g.discount }} USD</span>
                                </div>
                            </div>

                            <ng-container  *ngIf="!cursostuden_have_course">

                                <div class="add-to-card-button mt--15"*ngIf="nameuserencontrado">
                                    <a class="rbt-btn btn-gradient icon-hover w-100 d-block text-center" href="#" onclick="return false;" (click)="addCart()">
                                        <span class="btn-text">Pagar</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </a>  </div>
    
                                 

                                <div class="buy-now-btn mt--15">
                                    
                                    <label type="text"  >Correo</label>
                                    
                            </div>

                                <div class="buy-now-btn mt--15">
                                    
                                        <input type="text" [(ngModel)]="nameuser" name="nameuser" placeholder="email">
                                        
                                </div>
                                
                                <div class="buy-now-btn mt--15" *ngIf="nameuserencontrado">
                                    
                                    <label type="text"  >tu nombre es: {{nameuserencontrado.name}} {{nameuserencontrado.lastname}} </label>
                                    
                            </div>
                                <div class="buy-now-btn mt--15">
                                    
                                    <button class="rbt-btn btn-gradient hover-icon-reverse btn-sm"
                                    (click)="buscaruser()"
                                    >
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">Buscar usuario</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </button>
                                    
                                </div>

                                
                                 
                                
                            </ng-container>
                            <ng-container  *ngIf="cursostuden_have_course">
                                <div class="add-to-card-button mt--15">
                                      
                                    <a class="rbt-btn btn-gradient icon-hover w-100 d-block text-center" [href]="'/ver-curso/'+ COURSE_LANDING.id">
                                        <span class="btn-text">Ir al Curso</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </a>
                                </div>
                            </ng-container>


                            <span class="subtitle"><i class="feather-rotate-ccw"></i> 30-Day Money-Back
                                Guarantee</span>


                            <div class="rbt-widget-details  ">
                                <ul class="  rbt-course-details-list-wrapper">
                                    
                                  
                                    
                                </ul>
                                 
                            </div>

                            <div class="social-share-wrapper mt--30 text-center">
                                <div class="rbt-post-share d-flex align-items-center justify-content-center">
                                    <ul class="social-icon social-default transparent-with-border justify-content-center">
                                        <li><a href="https://www.facebook.com/">
                                                <i class="feather-facebook"></i>
                                            </a>
                                        </li>
                                        <li><a href="https://www.twitter.com">
                                                <i class="feather-twitter"></i>
                                            </a>
                                        </li>
                                        <li><a href="https://www.instagram.com/">
                                                <i class="feather-instagram"></i>
                                            </a>
                                        </li>
                                        <li><a href="https://www.linkdin.com/">
                                                <i class="feather-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <hr class="mt--20">
                                <div class="contact-with-us text-center">
                                    <p>For details about the course</p>
                                    <p class="rbt-badge-2 mt--10 justify-content-center w-100"><i class="feather-phone mr--5"></i> Call Us: <a href="#"><strong>+444 555 666 777</strong></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 

 